.blogitem-wrap {
    display: block;
    justify-content: space-between;
    margin-bottom: 50px;
    position: relative;

    .blog-cover {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* border-radius: 10px; */
        /* margin-bottom: 0.5rem; */
        margin-right: 1rem;
        margin-bottom: -7px;
        margin-right: 1rem;
    }

    h3 {
        margin: 0.5rem 0 1rem 0;
        flex: 1;
    }

    .blog-item-img {
        width: 100%;
        height: auto;
        /* border-radius: 10px; */
        /* box-shadow: 0px 8px 16px -8px rgba(0,0,0,0.30),0px 13px 27px -5px rgba(50,50,93,0.25) */
    }

    .blog-desc {
        position: relative;
        /* max-height: 50px; */
        overflow: hidden;
        font-size: 0.8rem;
        padding-right: 0.6rem;
        color: #1f2850;
        line-height: 1.7;
    }

    .blog-item-detail {
        padding: 45px 50px;
        border-top: none;
        text-align: justify;
        background-color: #020b2808;
        color: #1f2850;
        border: none;
        border-top: none;
        margin: 0 auto 70px;
    }

    .blog-desc::before {
        position: absolute;
        content: '...';
        bottom: 0;
        right: 0;
    }

    .blog-item-title {
        color: #1f2850;
        font-size: 28px;
        margin-bottom: 30px;
        line-height: 1.1;
    }

    footer {
        display: flex;
        align-items: center;
        margin-top: 1rem;
        justify-content: space-between;
    }

    .blog-link {
        text-decoration: none;
        color: inherit;
    }

    .blog-author {
       /* // display: flex; */
        align-items: center;
        justify-content: space-between;
        margin-top: 1rem;

        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: .5rem;
        }

        p {
            font-size: .6rem;
            color: #1f2850;
            font-weight: 600;
        }
    }
}
.more-btn{
    /* background-color: #1f2e5d; */
    background-color: #1f2850;
    border-radius: 4px;
    color: #1f223f !important;
    position: absolute;
    left: 90%;
    /* bottom: -20px; */
    font-weight: 600;
    margin-top: 20px;
    z-index: 3;
    transform: translateX(-50%);
    white-space: nowrap;
    display: inline-block;
    color: #fff !important;
    font-size: 15px;
    padding: 8px 25px;
    letter-spacing: .5px;
}

@media (min-width: 320px) and (max-width: 768px) {

    .blog-item-detail {
        padding: 30px !important; 
    }
    .blog-item-title {
        font-size: 18px !important;
    }     
    
    .more-btn {
        left: 80%;
        font-size: 13px;
        padding: 8px 12px;
        margin-top: 0;
    }
  }