.blog-detail {
    margin: 60px auto;
    position: relative;
    z-index: 1;
    background: #020b2808;
    padding: 50px 60px;
    -webkit-box-shadow: 0 3px 12px -1px rgba(7, 10, 25, .1), 0 22px 27px -30px rgba(7, 10, 25, .1);
    box-shadow: 0 3px 12px -1px rgba(7, 10, 25, .1), 0 22px 27px -30px rgba(7, 10, 25, .1);

    header {
        text-align: center;
    }

    .created-date {
        color: #a9a9a9;
        font-size: .8rem;
        font-weight: 500;
    }

    .subcat-wrap {
        display: flex;
        justify-content: center;
    }

    .subcat-wrap > div {
        margin: .5rem;
    }

    .subcat-wrap{
        margin-top: 25px;
        span{
            color: #fff;
            display: inline-block;
            box-shadow: 0px 2px 6px rgba(7, 10, 25, .1);
            padding: 10px 12px;
            line-height: 1.2;
            margin-right: 10px;
            background: #1f2850;
            border-radius: 4px;
        }
    }
    img {
        width: 100%;
        margin: 1rem;

    }

    .blog-desc {
        padding: 1rem;
        margin-top: 1.5rem;
        text-align: justify;
    }
}

.link-wrap a{
    text-align: start;
    text-decoration: none;
    color: #a9a9a9;
    font-weight: 500;
    display: block;
    margin-bottom: 2rem;
}
.blog-bt{
    margin-top: 40px;
}
.title.usmall{
    font-size: 15px;
    margin-bottom: 5px;
    letter-spacing: .25px;
    font-weight: 600;
}
.blog-t{
    font-size: 28px;
    margin-bottom: 60px;
}