.feature-blogs {
    width: 30%;
}

.feature-blog-card {
    background-color: #fff;
    padding: 30px;
    border: 1px solid #DADADA;
    overflow: hidden;
    clear: both;
}

.blog-card {
    /* background: #fff9f3; */
    /* background: #1f2e5d; */
    /* background: #1f223f; */
    background: #1f2850;
    color: #fff;
    border-radius: 5px;
}

.widget-title {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 25px;
    margin-top: 0;
    color: #faed26;
    font-weight: 500;
    text-align: justify;
}

.feature-blogitem-wrap {
    clear: both;
    margin-bottom: 20px;
    display: flex;
    height: 80%;
    width: 100%;
    margin-top: 20px;
    /* justify-content: space-between; */
    margin-bottom: 5rem;

    .feature-blog-cover {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* border-radius: 10px; */
        margin-bottom: 0.5rem;
        margin-right: 1rem;
    }

    h3 {
        margin: 0.5rem 0 1rem 0;
        flex: 1;
    }

    .feature-blog-item-img {
        width: 60px;
        height: 60px;
        float: left;
        display: block;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        background-color: #DADADA;
        background-position: center center;
        background-repeat: no-repeat;
        overflow: hidden;
    }

    .feature-blog-desc {
        position: relative;
        max-height: 50px;
        overflow: hidden;
        font-size: 0.8rem;
        padding-right: 0.6rem;
        color: #a9a9a9;
    }

    .feature-blog-item-detail {
        margin-left: 1rem;
        text-align: justify;
    }

    .feature-blog-desc::before {
        position: absolute;
        content: '...';
        bottom: 0;
        right: 0;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: end;
        margin-top: -3px;
    }

    .feature-blog-link {
        text-decoration: none;
        color: inherit;
    }

    .feature-blog-author {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1rem;

        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: .5rem;
        }

        p {
            font-size: .6rem;
            color: #a9a9a9;
            font-weight: 600;
        }
    }
}

.border {
    display: block;
    height: 0;
    background: #ff4c60;
    content: '';
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-left: 15px;
    min-width: 30px;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

@media (min-width: 320px) and (max-width: 768px) {
    .feature-blogs {
        width: 90%;
    }
}
