.container{
    text-align: center;
}
.card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}
span.flag {
    width: 44px;
    height: 30px;
    display: inline-block;
}
img.flag {
    width: 30px;
}
.flag {
    background: url(https://primefaces.org/cdn/primereact/images/flag/flags_responsive.png)
        no-repeat;
    background-size: 100%;
    vertical-align: middle;
}
.p-menubar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:none;
    border: none;
    margin-bottom: 0;
    font-weight: 500;
    border: none;
    height: 68px;
}
.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 99999;
    top: 0;
}
.nav-wrap{
    margin-bottom: 0;
    font-weight: 500;
    color: #fff;
}
.p-menuitem-text,.p-menuitem-link, .p-menubar-start{
    color: #fff;
    text-decoration: none;
}
.p-menubar-root-list{
   margin-bottom: 0;
}