.container{
    text-align: center;
}
.card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}
span.flag {
    width: 44px;
    height: 30px;
    display: inline-block;
}
img.flag {
    width: 30px;
}
.flag {
    background: url(https://primefaces.org/cdn/primereact/images/flag/flags_responsive.png)
        no-repeat;
    background-size: 100%;
    vertical-align: middle;
}
.p-menubar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:none;
    border: none;
    margin-bottom: 0;
    font-weight: 500;
    border: none;
    height: 68px;
}
.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 99999;
    top: 0;
}
.nav-wrap{
    margin-bottom: 0;
    font-weight: 500;
    color: #fff;
    background: linear-gradient(to right, #1f1c37e8 10%, #1f223d 60%, #1f223f 50%);
}
.p-menuitem-text,.p-menuitem-link, .p-menubar-start{
    color: #fff;
    text-decoration: none;
}
.p-menubar-root-list{
   margin-bottom: 0;
}
.navbar {
    /* display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    background: linear-gradient(to right, #ff7e5f 50%, #feb47b 50%); */
}

.p-menubar a:hover {
    transition: all 0.3s ease-in-out;
    color: #1f2850 !important;
    transform: scale(1.1);
}
.p-menuitem-content:hover{
    
    transition: all 0.3s ease-in-out;
    background-color: transparent !important;
    color: #fff !important;
    .p-menuitem-text,.p-menuitem-link{
        color: #fff !important;
    }
   
    transform: scale(1.1);
}
.p-menubar a.active {
    color: #fff !important;
    background-color: transparent !important;
    transition: all 0.3s ease-in-out;
}