.home-header{
    text-align: center;
    p{
        color: #acb7c2;
        font-weight: 500;
    }
    h2{
        color: #0080FF;
        font-size: 2rem;
    }
    h1{
        font-size: 3rem;
        color: #124E66;
        margin-bottom: 1rem;
        margin-top: 3rem;
        font-weight: 700 !important;
        /* padding: 0 4rem; */
        span{
            color: #acb7c2;
            text-transform: lowercase;
        }
    }
}
.top-nav{
    margin-bottom: 70px;
    top: 0;
    background: none;
}
.banner-wrap{
    width: 80% !important;
    padding-top: 100px !important;
   
}
