.home-header{
    text-align: center;
    p{
        color: #a9a9a9;
        font-weight: 500;
    }
    h2{
        color: #0080FF;
        font-size: 2rem;
    }
    h1{
        font-size: 3rem;
        color: #0f52ba;
        margin-bottom: 1rem;
        span{
            color: #b0c4de;
        }
    }
}

