/* ContactPage.css */
.container {
  /* max-width: 900px; */
}

.card {
  border-radius: 15px;
  overflow: hidden;
}

.card-header {
  position: relative;
  color: #fff;
}

.card-title {
  font-weight: bold;
  font-size: 1.5rem;
}

.form-group {
  position: relative;
}

.form-label img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

.form-control {
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 1rem;
  margin-top: 5px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 8px;
  font-size: 1.2rem;
  padding: 10px;
}

.send-btn:hover {
  background: #1f2850;
  color: #fff !important;
}

.card-footer {
  background-color: #f8f9fa;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.mr-2 {
  margin-right: 0.5rem;
}

.contact-margin {
  margin-top: 200px !important;
}

.btn.btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1f2850;
  border: 1px solid #1f2850;
  border-radius: 35px;
  transition: 0.3s;
}

.footer .btn.btn-social:hover {
  background: #1f2850;
  color: #fff;
}

.contact-wrap {
  width: 80%;
  margin: auto;
}

.send-btn {
  background: #1f2850;
  color: #fff;
  padding: 10px 0px;
}
.text-primary-color{
  color: #1f2850;
}