.content{
    display: flex;
    height: auto;
    z-index: 1;
    position: relative;
}
.feature-blogs{
    margin-right: 15px;
    margin-left: 15px;
}
.main-wrap{
    
}

@media (min-width: 320px) and (max-width: 768px) {
    .content{
        display: block !important;
    }
  }