.search-wrap {

    background-color: #d3d9d43d;
    width: fit-content;
    margin: 2.5rem auto 4rem auto;
    padding: .5rem;
    border-radius: 5px;

    input {
        background-color: transparent;
        color: #000;
        outline: none;
        border: none;
    }

    span {
        padding-right: .5rem;
        cursor: pointer;
    }

    form {
        display: flex;
        align-items: center;
    }

    button {
        outline: none;
        border: none;
        padding: .6rem .7rem;
        border-radius: 5px;
        background-color: #2E3944;
        color: #fff;
        line-height: 1;
    }

    .close-btn {
        color: #acb7c2;
    }
}