body {
  font-family: 'montserrat', sans-serif;
}

button,
input {
  font-family: 'montserrat', sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  width: 95%;
  margin: 0 auto;
  /* padding: 1rem 0; */
}